<ul id="menu-right" class="nav navbar-nav navbar-right">
  <li><a href="{{@blog.url}}/" title="">Home</a></li>
  <li><a href="{{@blog.url}}/portfolio" title="">Portfolio</a></li>
  <li><a href="{{@blog.url}}/resume" title="">Resume</a></li>
  <li><a href="{{@blog.url}}/about" title="">About</a></li>
</ul>
