      <form method="get" action="http://www.google.com/search" class="form-inline" role="search" target="_blank">
      <div class="input-group">
      <input type="hidden" name="q" value="site:{{@blog.url}}">
      <input type="text" name="q" class="form-control" placeholder="Search">
      <span class="input-group-btn">
      <button type="submit" class="btn btn-search">Go</button>
      </span>
      </div>
      </form>
