{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<!--<div class="jumbotron"><div class="container">
    
    <div class="row">
    
    <div class="col-md-3">
        <img class="img-responsive" src="\images\Europe.jpg">
    </div>
    <div class="col-md-9">
        <h1>Engineer</h1>
    </div>
    
    </div>

</div></div>-->

<div class="container" role="document">

<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

<main class="content" role="main">
    
    <article class="post-wrap">
        
                    
        <section class="post-content" style="display: flex; flex-flow: row wrap;">

            <img class="img-responsive" style="max-height: 200px; border-radius: 50%;" src="\images\santaynez.jpg">

            <header class="post-header padding" style="flex: 1;">
            <h1 class="post-title">Brandon Brown
                <p><small>Computer Engineer</small></p></h1>
            </header>


        </section>

                

    </article>
    
    <div class="row">
        
        <div class="col-md-6">
            
            <article class="post-wrap calm">
	

        
                    
                    <section class="post-content">
                        
                        <header class="post-header">
                        <h2 class="post-title">Programming</h2>
                    </header>
                        
                        
                        <p>C/C++, C#, Java</p>
                        <p>Python, Perl, JavaScript</p>
                        <p>HTML/CSS</p>
                            
                        
                        
                    </section>

                

            </article>
            
            <article class="post-wrap calm">
	

        
                    
                    <section class="post-content">
                        
                        <header class="post-header">
                        <h2 class="post-title">Technologies</h2>
                    </header>
                        
                        
                        <p>.NET, AngularJS, Cordova, Ionic Framework, Bootstrap, NodeJS, MongoDB, Git 
Hardware </p>

                            
                        
                        
                    </section>

                

            </article>
        </div>
        
        <div class="col-md-6">
            <article class="post-wrap calm">
	

        
                    
                    <section class="post-content">
                        
                        <header class="post-header">
                            <h2 class="post-title">Hardware</h2>
                        </header>
                        
                        <p>FPGAs</p>
                        <p>VLSI</p>
                        <p>Microcontrollers</p>
                        
                    </section>

                
          
            </article>
        </div>
    </div>
    
    <article class="post-wrap bg-info">
	
        <div class="post-content">
        
            <header class="post-header">
                <h2 class="post-title">Experience</h2>
            </header>
            
            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <strong>Technical Consultant</strong><br>
                        <em>Colaabo</em>
                    </p>

                </div>
                <div class="col-xs-4">
                    <span class="pull-right">2015 - Current</span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <strong>United States Air Force</strong><br>
                        <em>Space Operations Lead</em>
                    </p>

                </div>
                <div class="col-xs-4">
                    <span class="pull-right">2014 - Current</span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <strong>United States Air Force</strong><br>
                        <em>Project Engineer</em>
                    </p>

                </div>
                <div class="col-xs-4">
                    <span class="pull-right">2012 - 2014</span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <strong>United States Air Force</strong><br>
                        <em>Student</em>
                    </p>

                </div>
                <div class="col-xs-4">
                    <span class="pull-right">2010 - 2012</span>
                </div>
            </div>
                
        </div>
    </article>
    
    <article class="post-wrap bg-info">
	
        <div class="post-content">
        
            <header class="post-header">
                <h2 class="post-title">Education</h2>
            </header>
            
            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <strong>Air Force Institute of Technology</strong><br>
                        <em>Master of Science, Computer Engineering</em>
                    </p>

                </div>
                <div class="col-xs-4">
                    <span class="pull-right">2010 - 2012</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <strong>Cedarville University</strong><br>
                        <em>Bachelor of Science, Computer Engineering</em>
                    </p>
                </div>
                <div class="col-xs-4">
                    <span class="pull-right">2006 - 2010</span>
                </div>
            </div>
                
        </div>
    </article>

</main>

  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar">
{{> "sidebar"}}
</div>
</div>

{{/post}}


